@model List<wether.Models.RootObject> ;
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .card:hover {
        box-shadow: -1px 9px 40px -12px #808080;
    }
</style>

<script type="text/javascript">
    function show(item) {
        var WeatherId = $(item).attr("itemid");
        console.log(WeatherId)
    }

    $('.card').hover{
        (
            function () {
                $(this).animate({
                    marginTop: "-=1%",
                    marginBottom: "+=1%"
                }, 200)

            }, function () {
                $(this).animate({
                    marginTop: "+=1%",
                    marginBottom: "-=1%"
                })
            }
        )
    }
</script>



<div class="text-center">

    <h1 class="display-4" style="color:white;">Weather app</h1>
</div>
<br />
<br />

<div class="text-center">
    <p>
        <input type="text" name="SearchString" placeholder="Enter a City" style="background-color: black; height: 36px; width:300px; color: white " />
        <input type="submit" value="Add City" class="btn btn-purple" style="background-color:purple; color:white" />
    </p>
</div>

<div class="row">
    @foreach (var data in Model)
    {
        <div class="card m-3 " style="width: 33rem; "  >
            <div class="card-body bg-primary text-center">

                <div class="row">
                    <div class="col">
                        <h4 class="text-white">@data.name , @data.sys.country </h4>
                        <p class="text-white"> @data.dt </p>

                    </div>
                    <div class="col">
                        <h1 class="text-white">@data.main.temp°C</h1>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <img src="@data.weather[0].icon" style="align-content: center;" />
                            <p class="pt-3 text-white"> @data.weather[0].description</p>
                        </div>
                    </div>
                    <div class="col">
                        <p class="text-white">Temp Min: @data.main.temp_min°C </p>
                        <p class="text-white">Temp Max: @data.main.temp_max°C </p>
                    </div>
                </div>
            </div>
            <div>

                <div class="row bg-dark p-3" style="width: 33rem; margin-left:0.01rem ">
                    <div class="col">

                        <p class="text-white">Pressure: @data.main.pressure hpa</p>
                        <p class="text-white">Humidity: @data.main.humidity%</p>
                        <p class="text-white">Visibility: @data.visibility km</p>

                    </div>
                    <div class="col">

                        <p class="text-white">@data.wind.speed m/s @data.wind.deg Degree </p>
                    </div>
                    <div class="col">

                        <p class="text-white">Sunrise: @data.sys.sunrise</p>
                        <p class="text-white">Sunset: @data.sys.sunset</p>

                    </div>
                </div>
            </div>

        </div>


    }

</div>

